.NavBar {
    background-color: antiquewhite;

    margin-bottom: 25px;
}

.main
{
    align-items: center;
    justify-content: center;
}

.img
{
    cursor: pointer;
}
.iniLogo
{

    width: 100px;
    height: 100px;
    cursor: pointer;
}

body
{
    background-color: navajowhite;
}

.SearchBar
{
    position: absolute;
     top: 30px;
    right: 30px;
}

.center
{
    align-content: center;
    align-items: center;

 }


.CouldNotFind
{

    position: absolute;
    top: 30%;
    right: 40%;



}
