.NavBar {
    background-color: darkslateblue;
    border-bottom-color: deepskyblue;
    margin-bottom: 25px;
}

.main
{
}

.img
{
    cursor: pointer;
}
.iniLogo
{

    width: 100px;
    height: 100px;
    cursor: pointer;
}

body
{
    background-color: midnightblue;
}

.SearchBar
{
    position: absolute;
     top: 50px;
    right: 30px;
}

.center
{
    justify-content: center;
}
