.Cardz
{


}

.item
{
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin: 15px;
    margin-right: auto;
    justify-content: center;


}

.Images
{
    cursor: pointer;
    margin: 5px;
    margin-top: 0px;



}

.card-body {
    background-color: #ffffff00;

    height: 100px;
    width: auto;
    align-self: center;
    padding: 0px;


}
.card
{
    border: none;
}



.card-img-top
{
  align-self: center;
}